@charset "UTF-8";


body {
  background-color: light grey;
}



legend { font-size: 125%;
padding-left: 1em;
padding-right: 1em; background: grey;
color: #fff; }

.right {
	
	float: right;
}
.center {
	float: center;
}

.searchResults{
	width:500px;
margin:auto;
background-color: white;
font-family: Calibri, Ariel, sans-serif; font-size: 16px;
font-style: italic;
font-weight: bold;
color: black;
border-radius: 10px;
padding: 8px;
border: 1px solid #999;
border: inset 1px solid #333;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


form { 
width:500px;
margin:auto;
background-color: white;
font-family: Calibri, Ariel, sans-serif; font-size: 16px;
font-style: italic;
font-weight: bold;
color: black;
border-radius: 10px;
padding: 8px;
border: 1px solid #999;
border: inset 1px solid #333;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3); }

tr, td {
padding: 10px;
}

button {
display: block;
	
}

label {
display: block;
margin-top: 16px; }

.radio label, .radio input {
display: inline; }

/*tab font*/

.tab a {
	
font-family: Calibri, Ariel, sans-serif; font-size: 16px;
font-style: italic;
font-weight: bold;
color: black;
 text-decoration: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab a {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
charset "UTF-8";